@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
html {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial; }

body {
  margin: 0px; }
  body h1 {
    font-family: 'Impact', Arial;
    font-size: 35px; }
  body p {
    font-family: 'Montserrat'; }

/*--------- header/nav sectie ---------------*/
.navigatie {
  background-color: #FFCBCB;
  padding: 15px; }
  .navigatie .logo {
    width: 10%;
    height: auto;
    padding: 10px; }
  .navigatie ol {
    text-decoration: none; }
    .navigatie ol li {
      list-style: none;
      text-decoration: none; }
      .navigatie ol li a {
        color: black; }
        .navigatie ol li a:hover {
          background-color: black;
          color: white; }
  .navigatie .active {
    color: white;
    text-decoration: underline; }
  .navigatie .menu {
    display: none;
    margin: 0px;
    padding: 0px; }
    .navigatie .menu a {
      margin: 0px;
      display: block;
      text-decoration: none;
      text-align: left;
      padding: 32px;
      border-top: 1px solid black;
      font-size: 20px;
      font-weight: bolder; }
  .navigatie label {
    display: block;
    cursor: pointer;
    float: right;
    font-size: 75px;
    margin-right: 20px; }
  .navigatie #toggle {
    display: none; }
    .navigatie #toggle:checked + .menu {
      display: block; }
  .navigatie .icon {
    display: none; }

a {
  color: black; }

/*--------- hero sectie ---------------*/
.hero {
  background-color: #E2E2E2;
  padding: 50px;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  transform: scaleY(0);
  transform-origin: bottom; }
  .hero h1 {
    margin-top: 115px;
    margin-left: 77px;
    z-index: 1;
    text-shadow: 2px 0px #FFCBCB;
    opacity: 0; }
  .hero .box1, .hero .box2, .hero .box3 {
    border: 3px;
    border-style: solid;
    border-color: #707070;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    opacity: 0;
    transform: scale(0); }
  .hero .box1 {
    transform: rotate(-9deg); }
  .hero .box2 {
    transform: rotate(30deg); }
  .hero .box3 {
    transform: rotate(60deg); }
  .hero img {
    filter: grayscale(100%); }
    .hero img:hover {
      filter: none; }
  .hero .djenna {
    width: 40%;
    height: 75%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1; }

/*--------- my work sectie ---------------*/
/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*--------- header/nav sectie ---------------*/
  .navigatie label {
    font-size: 50px; }
  .navigatie .logo {
    width: 5%; }

  /*--------- hero sectie ---------------*/
  .hero {
    padding: 100px 35px 35px 35px;
    height: 500px; }
    .hero .djenna {
      margin: 35px 0px 0px 150px; }

  /*--------- my work sectie ---------------*/
  .work {
    padding: 50px;
    display: inline; }
    .work .items-work {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 25px 0px 25px; }
      .work .items-work img {
        width: 90%;
        height: 90%;
        padding: 20px; }
        .work .items-work img:hover {
          transform: scale(1.03);
          box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.59); }
      .work .items-work #aida, .work .items-work #aida1, .work .items-work #aida2 {
        margin: 10px; }
    .work a {
      text-decoration: none; }
      .work a:hover {
        color: #FFCBCB; }
    .work h3 {
      font-size: 18px; }
    .work p {
      font-size: 16px; }

  .work-button {
    padding: 50px;
    background-color: black;
    color: white;
    display: list-item; }

  h2 {
    font-family: 'Impact';
    font-size: 30px;
    text-shadow: 2px 0px #FFCBCB;
    text-align: center; } }
/*Laptop*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /*--------- header/nav sectie ---------------*/
  .navigatie {
    display: flex;
    justify-content: center;
    align-content: center; }
    .navigatie .logo {
      width: 80px;
      padding-top: 10px; }
    .navigatie ol {
      flex-flow: row;
      margin-right: 75px; }
      .navigatie ol li {
        padding: 0.5em;
        border: unset;
        float: left; }
    .navigatie .active {
      color: white;
      text-decoration: underline; }
    .navigatie a {
      font-size: 16px; }
    .navigatie #toggle {
      display: none; }
    .navigatie label[for="toggle"] {
      display: none; }
    .navigatie .menu {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      .navigatie .menu a {
        flex: 1;
        border: none; }
    .navigatie .icon {
      display: flex;
      width: 25px;
      margin-top: 50px;
      padding: 5px; }

  /*--------- hero sectie ---------------*/
  .hero {
    background-color: #E2E2E2;
    padding: 50px;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    transform: scaleY(0);
    transform-origin: bottom; }
    .hero h1 {
      margin-top: 120px;
      margin-left: 75px;
      z-index: 1;
      text-shadow: 2px 0px #FFCBCB;
      opacity: 0; }
    .hero .box1, .hero .box2, .hero .box3 {
      border: 3px;
      border-style: solid;
      border-color: #707070;
      width: 300px;
      height: 300px;
      margin-left: 50px;
      margin-top: 50px;
      position: absolute;
      opacity: 0;
      transform: scale(0); }
    .hero .djenna {
      width: 400px;
      height: 400px;
      margin-left: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      z-index: 1; }

  /*--------- my work sectie ---------------*/
  .work {
    padding: 50px;
    display: inline; }
    .work .items-work {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px; }
      .work .items-work img {
        width: 90%;
        height: 90%;
        padding: 20px; }
        .work .items-work img:hover {
          transform: scale(1.03);
          box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.59); }
      .work .items-work #aida, .work .items-work #aida1, .work .items-work #aida2 {
        margin: 10px; }
    .work a {
      text-decoration: none; }
      .work a:hover {
        color: #FFCBCB; }
    .work .work-button {
      padding: 50px;
      background-color: black;
      color: white;
      display: list-item; }
    .work h2 {
      font-family: 'Impact';
      font-size: 50px;
      text-shadow: 2px 0px #FFCBCB;
      text-align: center; }

  /*--------- about me sectie ---------------*/
  .aboutme {
    background-color: #E2E2E2; }
    .aboutme .box4, .aboutme .box5 {
      border: 3px;
      border-style: solid;
      border-color: #707070;
      width: 300px;
      height: 300px;
      margin-left: 50px;
      margin-top: 50px; }
    .aboutme img {
      width: 50%; } }
/*Grote desktop*/
@media only screen and (min-width: 1440px) {
  /*--------- header/nav sectie ---------------*/
  .navigatie {
    display: flex;
    padding: 10px; }
    .navigatie .logo {
      width: 40%; }
    .navigatie ol {
      flex-flow: row; }
      .navigatie ol li {
        padding: 0.5em;
        border: unset;
        float: left;
        margin-left: 50px; }
        .navigatie ol li a {
          font-size: 20px; }
    .navigatie .active {
      color: white;
      text-decoration: underline; }
    .navigatie #toggle {
      display: none; }
    .navigatie label[for="toggle"] {
      display: none; }
    .navigatie .menu {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      .navigatie .menu a {
        flex: 1;
        justify-content: center;
        border: none; }
    .navigatie .icon {
      display: flex;
      width: 30px;
      margin-top: 50px;
      padding: 5px; }

  /*--------- hero sectie ---------------*/
  .hero {
    background-color: #E2E2E2;
    padding: 50px;
    display: flex;
    align-content: center;
    height: 100%;
    box-sizing: border-box;
    transform: scaleY(0);
    transform-origin: bottom;
    padding-left: 5%;
    padding-right: 5%; }
    .hero h1 {
      margin-top: 175px;
      margin-left: 125px;
      z-index: 1;
      text-shadow: 2px 0px #FFCBCB;
      opacity: 0; }
    .hero .box1, .hero .box2, .hero .box3 {
      border: 3px;
      border-style: solid;
      border-color: #707070;
      width: 400px;
      height: 400px;
      margin-left: 50px;
      margin-top: 50px;
      position: absolute;
      opacity: 0;
      transform: scale(0); }
    .hero .djenna {
      width: 35%;
      height: 100%;
      margin-left: 350px;
      display: flex;
      opacity: 0;
      z-index: 1;
      vertical-align: middle; }

  /*--------- my work sectie ---------------*/
  .work {
    padding: 50px;
    display: inline; }
    .work .items-work {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px; }
      .work .items-work img {
        width: 90%;
        height: 90%;
        padding: 20px; }
        .work .items-work img:hover {
          transform: scale(1.03);
          box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.59); }
      .work .items-work a {
        text-decoration: none; }
        .work .items-work a:hover {
          color: #FFCBCB; }
      .work .items-work #aida, .work .items-work #aida1, .work .items-work #aida2 {
        margin: 10px; }

  .work-button {
    padding: 50px;
    background-color: black;
    color: white; }

  h2 {
    font-family: 'Impact';
    font-size: 50px;
    text-shadow: 2px 0px #FFCBCB;
    text-align: center; }

  /*--------- about me sectie ---------------*/ }

/*# sourceMappingURL=style.css.map */
