@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
html {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial; }

body {
  margin: 0px; }
  body h1 {
    font-family: 'Impact', Arial;
    font-size: 35px; }
  body p {
    font-family: 'Montserrat'; }
  body h2 {
    text-decoration: underline solid black;
    font-family: 'Impact', Arial;
    font-size: 24px;
    text-shadow: 2px 0px #FFCBCB;
    text-align: center; }
  body .vl {
    border-left: 6px solid black;
    height: 100px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    margin-top: 50px;
    margin-bottom: 50px; }

/*--------- header/nav sectie ---------------*/
.navigatie {
  background-color: #FFCBCB;
  padding: 15px; }
  .navigatie .logo {
    width: 10%;
    height: auto;
    padding: 10px; }
  .navigatie ol {
    text-decoration: none; }
    .navigatie ol li {
      list-style: none;
      text-decoration: none; }
      .navigatie ol li a {
        color: black; }
        .navigatie ol li a:hover {
          background-color: black;
          color: white; }
  .navigatie .active {
    color: white;
    text-decoration: underline; }
  .navigatie .menu {
    display: none;
    margin: 0px;
    padding: 0px; }
    .navigatie .menu a {
      margin: 0px;
      display: block;
      text-decoration: none;
      text-align: left;
      padding: 32px;
      border-top: 1px solid black;
      font-size: 20px;
      font-weight: bolder; }
  .navigatie label {
    display: block;
    cursor: pointer;
    float: right;
    font-size: 75px;
    margin-right: 20px; }
  .navigatie #toggle {
    display: none; }
    .navigatie #toggle:checked + .menu {
      display: block; }
  .navigatie .icon {
    display: none; }

a {
  color: black; }

/*--------- hero sectie ---------------*/
.hero {
  background-color: #E2E2E2;
  padding: 50px;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  transform: scaleY(0);
  transform-origin: bottom; }
  .hero h1 {
    font-size: 30px;
    margin-top: 115px;
    margin-left: 77px;
    z-index: 1;
    text-shadow: 2px 0px #FFCBCB;
    opacity: 0; }
  .hero .box1, .hero .box2, .hero .box3 {
    border: 3px;
    border-style: solid;
    border-color: #707070;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    opacity: 0;
    transform: scale(0); }
  .hero .box1 {
    transform: rotate(-9deg); }
  .hero .box2 {
    transform: rotate(30deg); }
  .hero .box3 {
    transform: rotate(60deg); }
  .hero img {
    filter: grayscale(100%); }
    .hero img:hover {
      filter: none; }
  .hero .djenna {
    width: 40%;
    height: 75%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1; }

/*--------- about me sectie ---------------*/
.aboutme {
  background-color: #E2E2E2;
  padding: 50px;
  height: 500px; }
  .aboutme .foto {
    display: none; }
    .aboutme .foto .box4, .aboutme .foto .box5 {
      display: none; }
  .aboutme .informatie {
    width: 100%; }
    .aboutme .informatie h2 {
      margin: 0px 0px 25px 0px; }
    .aboutme .informatie h3 {
      font-family: 'Impact', Arial;
      font-size: 24px;
      margin: 0px; }
    .aboutme .informatie p {
      font-size: 16px; }
    .aboutme .informatie .cv {
      padding: 5px 10px;
      background-color: black;
      color: white;
      font-family: 'Impact', Arial;
      font-size: 20px;
      border: 5px solid black;
      box-shadow: -2px 2px 19px -3px #5c5c5c;
      transition: transform 2.5s; }
      .aboutme .informatie .cv:hover {
        background-color: #fff;
        border: 5px solid white;
        color: black;
        transform: rotate(360deg); }
    .aboutme .informatie .contact {
      padding: 5px 10px;
      margin-left: 15px;
      background-color: white;
      color: black;
      font-family: 'Impact', Arial;
      font-size: 20px;
      border: 5px solid white;
      box-shadow: -2px 2px 19px -3px #5c5c5c;
      transition: transform 2.5s; }
      .aboutme .informatie .contact:hover {
        background-color: #000;
        border: 5px solid black;
        color: white;
        transform: rotate(360deg); }
    .aboutme .informatie .titel-skills {
      font-family: 'Impact', Arial;
      font-size: 24px;
      margin: 25px 0px 20px 0px; }
    .aboutme .informatie .container {
      width: 100%;
      background-color: #707070; }
    .aboutme .informatie .skills {
      text-align: right;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;
      color: black; }
    .aboutme .informatie .html {
      width: 85%;
      background-color: #fff;
      animation: html 5s; }
    .aboutme .informatie .css {
      width: 60%;
      background-color: #fff;
      animation: css 5s; }
    .aboutme .informatie .js {
      width: 20%;
      background-color: #fff;
      animation: js 5s; }
@keyframes html {
  0% {
    width: 0%; }
  100% {
    width: 85%; } }
@keyframes css {
  0% {
    width: 0%; }
  100% {
    width: 60%; } }
@keyframes js {
  0% {
    width: 0%; }
  100% {
    width: 20%; } }
/*--------- contact sectie ---------------*/
.contactopnemen {
  padding: 10px; }
  .contactopnemen .formulier {
    max-width: 750px;
    margin: auto; }
    .contactopnemen .formulier .fname {
      background-color: #E2E2E2;
      width: 750px;
      height: 20px;
      margin-bottom: 20px;
      padding: 15px;
      border: none; }
    .contactopnemen .formulier .lname {
      background-color: #E2E2E2;
      width: 750px;
      height: 20px;
      padding: 15px;
      border: none; }
    .contactopnemen .formulier .message {
      background-color: #E2E2E2;
      width: 750px;
      height: 250px;
      padding: 15px;
      border: none;
      margin-bottom: 20px; }
    .contactopnemen .formulier .submit {
      padding: 10px 20px;
      background-color: black;
      color: white;
      font-family: 'Impact', Arial;
      font-size: 20px;
      border: 5px solid black;
      box-shadow: -2px 2px 19px -3px #5c5c5c;
      margin: 0 auto;
      display: block;
      margin-bottom: 45px; }
      .contactopnemen .formulier .submit:hover {
        background-color: #fff;
        border: 5px solid white;
        color: black; }

/*--------- footer sectie ---------------*/
footer {
  background-color: #FFCBCB;
  padding: 10px;
  text-align: center; }
  footer .footer-logo {
    padding: 25px; }
    footer .footer-logo .logo {
      width: 7%; }
  footer .footer-menu a {
    text-decoration: none;
    padding: 25px 10px 25px 10px; }
  footer .footer-tekst {
    padding: 25px 0px; }
  footer .footer-icons .icons {
    width: 25px;
    padding: 5px; }
  footer .footer-icons a {
    text-decoration: none; }

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*--------- header/nav sectie ---------------*/
  .navigatie label {
    font-size: 50px; }
  .navigatie .logo {
    width: 5%; }

  /*--------- hero sectie ---------------*/
  .hero {
    padding: 100px 35px 35px 35px;
    height: 500px; }
    .hero h1 {
      font-size: 35px; }
    .hero .djenna {
      margin: 35px 0px 0px 150px; }

  /*--------- my work sectie ---------------*/
  .work .items-work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px 0px 25px; }
    .work .items-work img {
      width: 90%;
      height: 90%;
      padding: 20px; }
      .work .items-work img:hover {
        transform: scale(1.03);
        box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.59); }
    .work .items-work #aida, .work .items-work #aida1, .work .items-work #aida2 {
      margin: 10px; }
  .work a {
    text-decoration: none; }
    .work a:hover {
      color: #FFCBCB; }
  .work h3 {
    font-family: 'Impact', Arial;
    font-size: 18px; }
  .work p {
    font-size: 16px; }

  h2 {
    font-family: 'Impact', Arial;
    font-size: 30px;
    text-shadow: 2px 0px #FFCBCB;
    text-align: center; } }
/*Laptop*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /*--------- header/nav sectie ---------------*/
  .navigatie {
    display: flex;
    justify-content: center;
    align-content: center; }
    .navigatie .logo {
      width: 80px;
      padding-top: 10px; }
    .navigatie ol {
      flex-flow: row;
      margin-right: 75px; }
      .navigatie ol li {
        padding: 0.5em;
        border: unset;
        float: left; }
    .navigatie .active {
      color: white;
      text-decoration: underline; }
    .navigatie a {
      font-size: 16px; }
    .navigatie #toggle {
      display: none; }
    .navigatie label[for="toggle"] {
      display: none; }
    .navigatie .menu {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      .navigatie .menu a {
        flex: 1;
        border: none; }
    .navigatie .icon {
      display: flex;
      width: 25px;
      margin-top: 50px;
      padding: 5px; }

  /*--------- hero sectie ---------------*/
  .hero h1 {
    font-size: 35px;
    margin-top: 120px;
    margin-left: 75px; }
  .hero .box1, .hero .box2, .hero .box3 {
    position: absolute;
    opacity: 0;
    transform: scale(0); }
  .hero .djenna {
    width: 400px;
    height: 400px;
    margin-left: 150px;
    opacity: 0;
    z-index: 1; }

  /*--------- my work sectie ---------------*/
  .work {
    padding: 50px;
    display: inline; }
    .work .items-work {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px; }
      .work .items-work img {
        width: 90%;
        height: 90%;
        padding: 20px; }
        .work .items-work img:hover {
          transform: scale(1.03);
          box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.59); }
      .work .items-work #aida, .work .items-work #aida1, .work .items-work #aida2 {
        margin: 10px; }
    .work a {
      text-decoration: none; }
      .work a:hover {
        color: #FFCBCB; }
    .work h2 {
      font-size: 50px; }

  /*--------- about me sectie ---------------*/
  .aboutme .about {
    float: left; }
  .aboutme .foto {
    display: block;
    width: 40%;
    padding: 50px 0px 0px 0px; }
    .aboutme .foto .box4, .aboutme .foto .box5 {
      display: block;
      border: 3px;
      border-style: solid;
      border-color: white;
      width: 225px;
      height: 225px;
      margin-left: 10px;
      margin-top: 15px;
      position: absolute; }
    .aboutme .foto .box4 {
      transform: rotate(30deg); }
    .aboutme .foto .box5 {
      transform: rotate(60deg); }
    .aboutme .foto img {
      width: 70%;
      height: 100%; }
  .aboutme .informatie {
    width: 60%; }
    .aboutme .informatie h2 {
      text-align: left;
      margin: 0px 0px 25px 0px; }
    .aboutme .informatie .cv {
      padding: 5px 20px;
      font-size: 20px; }
    .aboutme .informatie .contact {
      padding: 5px 20px;
      margin-left: 15px;
      font-size: 20px; }
    .aboutme .informatie .titel-skills {
      margin: 25px 0px 10px 0px; }

  /*--------- contact sectie ---------------*/
  .contactopnemen {
    padding: 20px; }

  /*--------- footer sectie ---------------*/
  footer .logo {
    width: 10%; }
  footer .footer-menu a {
    font-size: 20px; }

  body h2 {
    font-size: 32px; } }
/*Grote desktop*/
@media only screen and (min-width: 1440px) {
  .navigatie {
    display: flex;
    padding: 10px; }
    .navigatie .logo {
      width: 40%; }
    .navigatie ol {
      flex-flow: row; }
      .navigatie ol li {
        padding: 0.5em;
        border: unset;
        float: left;
        margin-left: 50px; }
        .navigatie ol li a {
          font-size: 20px; }
    .navigatie .active {
      color: white;
      text-decoration: underline; }
    .navigatie #toggle {
      display: none; }
    .navigatie label[for="toggle"] {
      display: none; }
    .navigatie .menu {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      .navigatie .menu a {
        flex: 1;
        justify-content: center;
        border: none; }
    .navigatie .icon {
      display: flex;
      width: 30px;
      margin-top: 50px;
      padding: 5px; }

  /*--------- hero sectie ---------------*/
  .hero h1 {
    font-size: 45px;
    margin-top: 140px;
    margin-left: 195px; }
  .hero .box1, .hero .box2, .hero .box3 {
    width: 400px;
    height: 400px;
    margin-left: 150px;
    margin-top: 50px;
    transform: scale(0); }
  .hero .djenna {
    width: 35%;
    height: 100%;
    margin-left: 300px; }

  /*--------- my work sectie ---------------*/
  .work {
    padding: 50px;
    display: inline; }
    .work .items-work {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px; }
      .work .items-work img {
        width: 90%;
        height: 90%;
        padding: 20px; }
        .work .items-work img:hover {
          transform: scale(1.03);
          box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.59); }
      .work .items-work a {
        text-decoration: none; }
        .work .items-work a:hover {
          color: #FFCBCB; }
      .work .items-work #aida, .work .items-work #aida1, .work .items-work #aida2 {
        margin: 10px; }

  /*--------- about me sectie ---------------*/
  .aboutme .about {
    float: left; }
  .aboutme .foto {
    display: block;
    width: 35%;
    padding: 50px 0px 0px 50px; }
    .aboutme .foto .box4, .aboutme .foto .box5 {
      display: block;
      border: 3px;
      border-style: solid;
      border-color: white;
      width: 300px;
      height: 300px;
      margin-left: 10px;
      margin-top: 15px;
      position: absolute; }
    .aboutme .foto .box4 {
      transform: rotate(30deg); }
    .aboutme .foto .box5 {
      transform: rotate(60deg); }
    .aboutme .foto img {
      width: 60%;
      height: 100%; }
  .aboutme .informatie {
    width: 60%; }
    .aboutme .informatie h2 {
      text-align: left;
      margin: 0px 0px 25px 0px; }
    .aboutme .informatie .cv {
      padding: 5px 20px;
      font-size: 20px; }
    .aboutme .informatie .contact {
      padding: 5px 20px;
      margin-left: 15px;
      font-size: 20px; }
    .aboutme .informatie .titel-skills {
      margin: 25px 0px 10px 0px; }

  body h2 {
    font-size: 40px; } }

/*# sourceMappingURL=style.css.map */
